@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

* {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.list-container {
  display: flex;
  font-size: 18px;
  background-color: #eee;
  flex-direction: column;
}
.item-container {
  background-color: #fff;
  border: 1px solid black;
  padding: 25px 70px;
  margin: 15px 50px;
}

.skeleton {
  display: inline-block;
  height: 1em;
  background: linear-gradient(90deg, #27272a 25%, #3f3f46 50%, #27272a 75%);
  background-size: 200% 100%;
  animation: loading 1.8s infinite;
  border-radius: 6px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes light {
  0% {
    filter: invert(0);
    margin-top: 0;
    margin-left: 0;
  }
  50% {
    filter: invert(0.1);
    margin-top: 12px;
  }
  100% {
    filter: invert(0);
    margin-top: 0;
    margin-left: 0;
  }
}

.light {
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(#14b8a557, #14b8a504 40%, transparent 50%);
  /* scale: 0.6; */
  /* animation: light 1s ease infinite; */
}

[data-color="teal"] {
  background: radial-gradient(#14b8a557, #14b8a504 40%, transparent 50%);
}
[data-color="sky"] {
  background: radial-gradient(
    #0ea4e944,
    rgba(20, 184, 165, 0.027) 40%,
    transparent 50%
  );
}
[data-size="medium"] {
  width: 1300px;
  height: 1300px;
}
[data-size="small"] {
  width: 900px;
  height: 900px;
}

/* @media (min-width: 768px) {
  .light {
    scale: 0.6;
  }
}
@media (min-width: 1024px) {
  .light {
    scale: 1;
  }
} */
